# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
.Python

# Environment
.env
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/config.toml

# IDE/editor folders
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db



# Logs and cache
*.log
*.bak
*.tmp
.cache/
